/* Variables */
/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter Tight", sans-serif;
}

h2 {
  text-align: center;
  padding: 1rem;
  color: #1E232B;
}

.button {
  text-align: center;
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 10px;
  width: 50%;
  border: 1px solid #1E232B;
  background-color: #FFC847;
}
.button a {
  color: #1E232B;
  text-decoration: none;
}

.yellow-span {
  color: #FFC847;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1E232B;
}
header .logo h1 {
  color: #D5D5D5;
}
header .navbar {
  width: 50%;
}
header .navbar ul {
  display: flex;
  justify-content: flex-end;
  padding: 0px;
  list-style: none;
}
header .navbar ul li {
  padding: 10px 25px;
}
header .navbar ul li a {
  color: #D5D5D5;
  text-decoration: none;
}

/* Main */
main {
  background-color: #D5D5D5;
}

/* Landing Page */
section.landingpage .intro {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #1E232B 0%, #34383F 50%, #1E232B 100%);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
section.landingpage .intro .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33%;
}
section.landingpage .intro .headline h2 {
  padding: 0px 0px 20px 0px;
  color: #FFC847;
}
section.landingpage .intro .headline p {
  color: #D5D5D5;
}
section.landingpage .intro .profilepic {
  display: flex;
  justify-content: center;
  width: 33%;
}
section.landingpage .intro .profilepic img {
  width: 60%;
  padding: 5%;
  border-radius: 35%;
}
section.landingpage .aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.landingpage div.description {
  width: 50%;
  padding: 10px 0px 20px 0px;
}
section.landingpage div.description p {
  text-align: center;
}
section.landingpage div.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
section.landingpage div.skills h3 {
  text-align: center;
}
section.landingpage div.skills div.skillsicons {
  width: 50%;
  margin-top: 20px;
}
section.landingpage div.skills div.skillsicons ul {
  display: flex;
  list-style: none;
}
section.landingpage div.skills div.skillsicons ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 18px;
  font-size: 3rem;
  width: 100%;
}
section.landingpage div.skills div.skillsicons ul li span {
  padding-top: 12px;
  font-size: 1rem;
  text-align: center;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects .card-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  padding: 15px;
  background-color: #34383F;
  border: 1px solid #1E232B;
}
.projects .card-project h3 {
  padding: 0.4rem 0.8rem 0.8rem;
  text-align: center;
  color: #FFC847;
}
.projects .card-project p {
  color: #D5D5D5;
  text-align: center;
  padding-bottom: 0.8rem;
}

/* Contact */
.contact {
  background-color: #1E232B;
  padding-bottom: 20px;
}
.contact .h2-contact {
  display: flex;
  justify-content: center;
  margin: 20px;
  border-bottom: 2px solid #34383F;
}
.contact .h2-contact h2 {
  color: #D5D5D5;
}
.contact .contacts-section {
  display: flex;
  justify-content: space-around;
}
.contact .contacts-section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
}
.contact .contacts-section .left-contacts {
  border: 2px solid #34383F;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.contact .contacts-section .left-contacts div {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px 30px 12px;
  border-bottom: 1px solid #34383F;
}
.contact .contacts-section .left-contacts div h3 {
  color: #FFC847;
}
.contact .contacts-section .left-contacts p {
  text-align: center;
  padding: 5px 50px;
  color: #D5D5D5;
}
.contact .contacts-section .right-contacts ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  list-style: none;
}
.contact .contacts-section .right-contacts ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px;
  padding: 10px;
  color: #D5D5D5;
  border: 2px solid #34383F;
}
.contact .contacts-section .right-contacts ul li i {
  color: #FFC847;
  font-size: 2rem;
  margin-bottom: 12px;
}

/* Footer */
footer {
  background-color: #1E232B;
  border-top: 2px solid #34383F;
  padding: 20px;
}
footer p {
  color: #D5D5D5;
}/*# sourceMappingURL=style.css.map */